.header {
    padding: 24px 0;
  }
  
  .header-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: 500;
    background: white;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
  }
  
  .logo-text:hover {
    text-shadow: 0 0 8px rgba(74, 134, 232, 0.3), 0 0 8px rgba(255, 107, 107, 0.3);
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-left: 32px;
  }
  
  .nav a {
    font-weight: 550;
    font-size: 1.5rem;
    position: relative;
  }
  
  .nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
  }
  
  .nav a:hover::after {
    width: 100%;
  }
  
  
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }
    
    .nav {
      margin-top: 16px;
      width: 100%;
    }
    
    .nav ul {
      justify-content: center;
    }
    
    .nav li:first-child {
      margin-left: 0;
    }
    
    .nav li {
      margin-left: 24px;
    }
  } 